* {
    
    margin: 0;
    padding: 0;

}

body {

    font-family: Verdana;
    background-color: #202121;

}

nav {

    background-color: rgb(8, 8, 8);
    display: flex;
    justify-content: flex-end;
    padding: 25px;
 
}

nav a {

    padding: 15px;
    text-decoration: none;
    color: whitesmoke;

}

h1 {

    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    padding: 50px;
}

table {

    display: flex;
    justify-content: center;
    color: whitesmoke;
    border: 1px solid grey;
     
}

table tr {

    background-color: rgb(8, 8, 8);
    justify-content: center;
    align-items: center;
}
