body {
    width: 100vw;
    height: 100vh;
    padding: 0;
    margin: 0;
    color: white;
    font-size: 25px;
    
}

#top-container {
    display: flex;
}

#conteudo {
    font-size: 25px;
    justify-content: center;
    align-items: center;
    
}

#middle-container{
    display: flex;
    justify-content: space-between;
}

.green-background {
    background-color: green;
    height: 50px;
    width: 250px;
    display: flex;
    align-items: center;
    justify-content: center;
    
    
}

.yellow-background {
    background-color: yellow;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pink-background {
    background-color: fuchsia;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.blue-background {
    background-color: blue;
    height: 237px;
    width: 1000px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.red-background {
    background-color: red;
    height: 118.5px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lightgreen-background {
    background-color: lightgreen;
    height: 118.5px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.purple-background {
    background-color: purple;
    height: 50px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}